<!DOCTYPE html>
<html>
<head>
    <title>Welcome to {{ site_name }}!</title>
</head>
<body>
    <h1>Welcome to {{ site_name }}!</h1>
    <p>Hostname: {{ ansible_hostname }}</p>
    <p>Deployed on: {{ ansible_date_time.date }}</p>
</body>
</html>
